<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}} <span *ngIf="filterInput.length"> {{displayFilter()}}</span>
  </div>
  <div class="panel-body">
    <md-card>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="sel1">Filter by:</label>
          <input id="sel1" type="text" class="form-control" [(ngModel)]="storeFilter" [placeholder]="placeholderFilter" #inputFilter (keyup)="setValue(inputFilter.value)" />
        </div>
        <div class="form-group col-md-4">
          <label for="sel2">Order By:</label>
          <select id="sel2" class="form-control" style="max-width: 200px;" [(ngModel)]="orderByFilter">
            <option value="name" selected>Name</option>
            <option value="address">Address</option>
          </select>
        </div>
      </div>
    </md-card>
    <div class="table-responsive">
      <table class="table" *ngIf="stores && stores.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                  {{showImage ? "Hide" : "Show"}} Image
              </button>
            </th>
            <th>Index</th>            
            <th>Store</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let store of stores  |
                storeFieldFilter:storeNoDuplicateFilter | storeFilter:storeFilter:storeFilterFields | orderBy:orderByFilter;
                let i = index">
            <td>
              <img *ngIf="showImage" [src]="store.imageUrl" [title]="store.name" [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
            </td>
            <td>{{ i+1 }}</td>
            <td>{{ store.name }}</td>
            <td>{{ store.address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
