<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}} <span *ngIf="listFilter.length"> {{displayFilter()}}</span>
  </div>
  <div class="panel-body">
    <md-card>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="sel1">Filter by:</label>
          <input id="sel1" type="text" class="form-control"
          [(ngModel)]="listFilter" [placeholder]="placeholderFilter" />
        </div>
      </div>
    </md-card>

    <div class="table-responsive">
      <table class="table" *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                  {{showImage ? "Hide" : "Show"}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | productFilter:listFilter">
            <td>
              <img *ngIf="showImage" [src]="product.imageUrl" [title]="product.productName" [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
            </td>
            <td>
              <a [routerLink]="['/product', product.productId]">
                  {{product.productName}}
              </a>
            </td>
            <td>{{ product.productCode | lowercase }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:"USD":true:"1.2-2"}}</td>
            <td>
              <sm-shared-star
                [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)">
              </sm-shared-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
